* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-cont {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    margin: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    height: 180px;
    padding: 20px;
    width: 85%;

    .logo-cont {
        img {
            width: 200px;
            height: 150px;
        }
    }

    .nav-links {
        margin-right: 40px;

        ul {
            display: flex;
            gap: 10px;
            list-style: none;
            font-size: 1.4rem;
            align-items: center;
        }
    }
}

.login-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 10px;
}

.body {
    margin-bottom: 5rem;
    .res-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        .rest-card {
            min-width: 350px;
            background-color: #f0f0f0;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            /* min */
            .rest-img {
                width: 280px;
            }
        }

    }


}

.input-text {
    width: 85%;
    /* text-align: center; */
    padding: 10px;
    border: 1px solid lightgray;
}

.filter {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

input::placeholder {
    text-align: center;
}

@media screen and (min-width:1200px) {
    body {
        zoom: 80%
    }
}

.schimmer-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .schimmer-card {
        width: 300px;
        background-color: #f0f0f0;
        height: 300px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

}

.filter-btn,
.search-btn {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 10px;
}

.search-box {
    padding: 5px 20px;
    border: none;
    border: 2px solid #f0f0f0;
}

.search {
    display: flex;
    gap: 10px;
    outline: none;
}

button {
    cursor: pointer;
}

.rest-menu {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

a {
    color: black !important;
    text-decoration: none;
}

.accordion {
    width: 100%;
    max-width: 500px;
  }
  
  .accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    width: 100%;
  }
  
  .accordion-title {
    background-color: #f0f0f0; /* Grey background color */
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-content {
    padding: 10px;
  }
  
  .accordion-item.active .accordion-content {
    display: block;
  }
  .d-none {
    display: none;
  }
  

  .user-card {
    margin-top: 1rem;
    line-height: 2rem;
    border: 1px solid black;
    padding: 0.8rem;
    min-width: 200px;
    max-width: 500px;
  }